.card
    &__flex
        &--toolbar
            margin-top: -65px

.v-card
    &__dialog
        & ^[0]__text
            padding: 0 16px 8px
    
    &__progress
        position: absolute
        bottom: 12px
        right: 12px
    
    &__chart
        canvas
            height: 70%
            width: 90%

    &__statistic
        padding-left: 16px
        
        &--title
            font-size: 13px
            font-weight: bold
        
        &--value
            font-size: 27px
            font-weight: 100
            line-height: 1