table.v-datatable
    &--select-all
        thead tr:first-child th:first-child
            width: 80px
        
        thead tr th.column
            &__date
                width: 170px

            &__number
                width: 110px
                padding: 0 8px
            
            &__code
                width: 170px
        
        tbody tr td
            &.number-format
                width: 110px
                padding: 0 8px
    
    .v-input
        &--selection-controls
            padding-top: 0

            .v-input__slot
                margin-bottom: 0
